<form action="/fieldType/create">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

        <div>
            <input class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="name">Name...</label>
        </div>

        <div>
            <input class="mdl-textfield__input" type="text" id="type">
            <label class="mdl-textfield__label" for="type">Type...</label>
        </div>

        <div>
            <input class="mdl-textfield__input" type="text" id="Layout">
            <label class="mdl-textfield__label" for="layout">Layout...</label>
        </div>

  </div>
</form>